body {
    justify-content: center;
    display: flex;
}

#unityContainer{
  /* width: 960px;
  height: 600px; */
  width: 100vw;
  height: 100vh; //2000px; 100vh;
  margin: auto;
  overflow: hidden;/*add This*/
  /* max-width: 1000px;
  height: 1000px; */
}
